{% extends "aplus-expert-base.html" %} 
{% load static %} 

{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>{{ title }}</h2>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.opacity -->
</div>
<!-- /.inner-page-banner -->

<!-- Page Breadcrum __________________________ -->
<div class="page-breadcrum">
	<div class="container">
		<ul>
			<li>
				<a href="/home/">Home</a>
			</li>
			<li>-</li>
			<li>Password Reset</li>
		</ul>
	</div>
	<!-- /.container -->
</div>
<!-- /.page-breadcrum -->

<!-- Error Page -->
<div class="error-page">
	<div class="container">
		<div class="error-wrapper clear-fix">
			<h1 style="margin-bottom: 40px;">
				<span class="p-color">Reset Password</span>
			</h1>
			{% if validlink %}
			<form method="post">
					{% if form.errors %}
					<div class="form-group"><div style="color: #ed1c24;">Make sure your password and confirmation match and that they follow the following requirements.</div></div>
					{% endif %}
					{% csrf_token %}
					<span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information, must contain at least 8 characters. Your password can&#39;t be a commonly used password and cannot be entirely numeric.</li></ul></span>
					<div class="form-group">
						<input style="max-width: 600px;" type="password" name="new_password1" class="form-control" required id="id_new_password1" placeholder="New Password"/>
					</div>
					<div class="form-group">
						<input style="max-width: 600px;" type="password" name="new_password2" class="form-control" required id="id_new_password2" placeholder="Confirm New Password"/>
					</div>
					<button class="special-button" type="submit" style="margin-bottom: 20px;">Change Password</button>
				  </form>
		  	{% else %}
			<p>
			  The password reset link is invalid, possibly because it has already been used.
			  Please <a href="/password_reset/"><strong>request</strong><a> a new password reset.
			</p>
		  	{% endif %}
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.error-page -->
{% endblock %}