{% extends "aplus-expert-base.html" %} 
{% load static %} 

{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>{{ title }}</h2>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.opacity -->
</div>
<!-- /.inner-page-banner -->

<!-- Page Breadcrum __________________________ -->
<div class="page-breadcrum">
	<div class="container">
		<ul>
			<li>
				<a href="/home/">Home</a>
			</li>
			<li>-</li>
			<li>Password Reset</li>
		</ul>
	</div>
	<!-- /.container -->
</div>
<!-- /.page-breadcrum -->

<!-- Error Page -->
<div class="error-page">
	<div class="container">
		<div class="error-wrapper clear-fix">
			<h1 style="margin-bottom: 40px;">
				<span class="p-color">Password reset completed.</span>
			</h1>
			<p>
                Your password has been set. You may go ahead and <a href="/login/">sign in</a> now.
            </p>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.error-page -->
{% endblock %}