{% extends "aplus-expert-base.html" %} 
{% load static %} 

{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>{{ title }}</h2>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.opacity -->
</div>
<!-- /.inner-page-banner -->

<!-- Page Breadcrum __________________________ -->
<div class="page-breadcrum">
	<div class="container">
		<ul>
			<li>
				<a href="/home/">Home</a>
			</li>
			<li>-</li>
			<li>Password Reset</li>
		</ul>
	</div>
	<!-- /.container -->
</div>
<!-- /.page-breadcrum -->

<!-- Error Page -->
<div class="error-page">
	<div class="container">
		<div class="error-wrapper clear-fix">
			<h1 style="margin-bottom: 40px;">
				<span class="p-color">Forgot password?</span>
			</h1>
			<form method="post">
				{% csrf_token %}
				<div class="form-group">
					<input style="max-width: 600px;" type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="Email"/>
				</div>
				<button class="special-button" type="submit" style="margin-bottom: 20px;">Submit</button>
		   </form>
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /.error-page -->
{% endblock %}