{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Thank you! Your payment of ${{ receipt.amount }} on {{ receipt.date }} has been received.</title>
</head>

<body>

    <head>
        <title>Rating Reminder</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta content="width=device-width" name="viewport">
        <style type="text/css">
            @font-face {
                font-family: &#x27;
                Postmates Std&#x27;
                ;
                font-weight: 700;
                font-style: normal;
                src: local(&#x27;
                Postmates Std Bold&#x27;
                ),
                url(https://s3-us-west-1.amazonaws.com/buyer-static.postmates.com/assets/email/postmates-std-bold.woff) format(&#x27;
                woff&#x27;
                );
            }

            @font-face {
                font-family: &#x27;
                Postmates Std&#x27;
                ;
                font-weight: 500;
                font-style: normal;
                src: local(&#x27;
                Postmates Std Medium&#x27;
                ),
                url(https://s3-us-west-1.amazonaws.com/buyer-static.postmates.com/assets/email/postmates-std-medium.woff) format(&#x27;
                woff&#x27;
                );
            }

            @font-face {
                font-family: &#x27;
                Postmates Std&#x27;
                ;
                font-weight: 400;
                font-style: normal;
                src: local(&#x27;
                Postmates Std Regular&#x27;
                ),
                url(https://s3-us-west-1.amazonaws.com/buyer-static.postmates.com/assets/email/postmates-std-regular.woff) format(&#x27;
                woff&#x27;
                );
            }
        </style>
        <style media="screen and (max-width: 680px)">
            @media screen and (max-width: 680px) {
                .page-center {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }

                .footer-center {
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                }
            }
        </style>
    </head>

    <body>
        <table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; background-color: #f4f4f5; text-align: center;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <table align="center" cellpadding="0" cellspacing="0" id="body" style="background-color: #fff; width: 100%; max-width: 680px; height: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table align="center" cellpadding="0" cellspacing="0" class="page-center" style="text-align: left; padding-bottom: 16px; width: 100%; padding-left: 103px; padding-right: 103px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-top: 24px; min-width: 50px;">
                                                        <img src="{% static "images/logo/logo.png" %}" style="width: 56px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="padding-top: 72px; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #000000; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 48px; font-smoothing: always; font-style: normal; font-weight: 600; letter-spacing: -2.6px; line-height: 52px; mso-line-height-rule: exactly; text-decoration: none;">Thank you! Your payment of ${{ receipt.amount }} on {{ receipt.date }} has been received.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" cellpadding="0" cellspacing="0" style="width: 100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-top: 24px; padding-bottom: 24px;">
                                                        <img src="{% static "images/home/aplus-expert-teamwork.jpg" %}"
                                                            style="width: 100%;">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" cellpadding="0" cellspacing="0" class="page-center" style="text-align: left; padding-bottom: 72px; width: 100%; padding-left: 103px; padding-right: 103px">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" style="padding-top: 48px; padding-bottom: 48px;">
                                                        <table cellpadding="0" cellspacing="0" style="width: 100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width: 100%; height: 1px; max-height: 1px; background-color: #E1E4EB"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="-ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #000000; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 40px; font-smoothing: always; font-style: normal; font-weight: 600; letter-spacing: -1.78px; line-height: 40px; mso-line-height-rule: exactly; text-decoration: none;">${{ receipt.amount }}</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 16px; -ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #9095A2; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 16px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: -0.04px; line-height: 24px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 100%;">
                                                        was received on {{ receipt.date }}.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="padding-top: 48px; padding-bottom: 48px;">
                                                        <table cellpadding="0" cellspacing="0" style="width: 100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width: 100%; height: 1px; max-height: 1px; background-color: #E1E4EB"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <table cellpadding="0" cellspacing="0" style="width: 100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-top: 24px; max-width: 100px; padding-right: 24px">
                                                                        <img src="https://media.licdn.com/dms/image/C560BAQErz9a4BhFeig/company-logo_200_200/0?e=1544054400&v=beta&t=fyKVa9BzNlD-9QpRb2psMgQT9VN4OIX9B4Wn1aYDjAE"
                                                                            style="max-width: 88px; border-radius: 44px;">
                                                                    </td>
                                                                    <td style="padding-top: 24px; -ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #000000; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 18px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: -0.48px; line-height: 32px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: middle; width: 100%;">
                                                                        Dear {{ receipt.name }}, <span style="font-weight: 600">this is a confirmation email indicating that your payment was received on {{ receipt.date }}.</span> Thank you for your trust in A+ Expert.
                                                                    </td>
                                                                 </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" style="text-align: center; width: 100%; background-color: #000000; padding: 40px; margin-bottom: 100px; max-width: 540px; margin-left: auto; margin-right: auto;">
                                            <tbody>
                                                <tr>
                                                    <td style="color: #ffffff; font-family: 'Postmates Std', 'Helvetica', 'Helvetica Neue'; font-size: 32px; font-weight: 400; letter-spacing: 0; line-height: 35px; vertical-align: top; padding-bottom: 15px; text-align: center">Want to refer a student?</td>
                                                </tr>
                                                <tr>
                                                    <td style="color: #ffffff; font-family: 'Postmates Std', 'Helvetica', 'Helvetica Neue'; font-size: 18px; font-weight: 400; letter-spacing: 0; line-height: 21px; vertical-align: top; padding-bottom: 30px; text-align: center">We're always excited to help new students become A+ masters of their own. Use the following link to sign them up for a free consultation!</td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">
                                                        <a href="https://aplus-expert.com/free-consultation/" style="display: block; background-color: #00cc99; width: 100%; max-width: 300px; color: #ffffff; font-family: 'Postmates Std', 'Helvetica', 'Helvetica Neue'; font-size: 12px; font-weight: 600; letter-spacing: 0.7px; line-height: 56px; text-decoration: none; vertical-align: top; border-radius: 28px; text-transform: uppercase; text-align: center; margin-left: auto; margin-right: auto"
                                                            universal="true" target="_blank">Refer Today</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center" cellpadding="0" cellspacing="0" id="footer" style="background-color: #000; width: 100%; max-width: 680px; height: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table align="center" cellpadding="0" cellspacing="0" class="footer-center" style="text-align: left; width: 100%; padding-left: 103px; padding-right: 103px;">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" style="padding-top: 72px; padding-bottom: 24px; width: 100%;">
                                                        <img src="https://d1pgqke3goo8l6.cloudfront.net/DFcmHWqyT2CXk2cfz1QB_wordmark.png" style="width: 124px; height: 20px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="-ms-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; color: #9095A2; font-family: 'Postmates Std', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 16px; font-smoothing: always; font-style: normal; font-weight: 400; letter-spacing: 0; line-height: 24px; mso-line-height-rule: exactly; text-decoration: none; vertical-align: top; width: 100%;">
                                                        If you have any questions or concerns, we're here to help. Email us back directly at
                                                        <a
                                                            data-click-track-id="7157" href="mailto:info@aplus-expert.com"
                                                            style="font-weight: 600; color: #fff" target="_blank">info@aplus-expert.com</a>.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height: 72px;"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </body>

</body>

</html>